<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Mongo Scraper</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/saved">Saved Articles
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Saved Articles</h1>
    <p>Your Saved Articles</p>
  </div>
</div>
<div class="container-fluid article-container">
    <div data-_id=5bcfa583c4289e0014df2147 class="card">
      <div class="card-header">
        <h3>
          <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2018/10/23/dining/hunan-slurp-review.html">Chinese Noodles From a Chile-Haunted Region</a>
          <a class="btn btn-danger delete">Delete From Saved</a>
          <a class="btn btn-info notes">Article Notes</a>
        </h3>
      </div>
      <div class="card-body">Hunan Slurp in the East Village lives up to its name — reason to celebrate in a town where fake Hunanese restaurants outnumber the real ones.</div>
    </div>
</div>

<footer class="footer">
  <div class="container">
    <p>New York Times Mongo Scraper</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="/assets/javascript/saved.js"></script>