{{> header }}

<div class="container-fluid article-container">
    <div class="alert alert-warning text-center">
      <h4>Uh Oh. Looks like we don't have any saved articles.</h4>
    </div>
    <div class="card">
      <div class="card-header text-center">
        <h3>Would You Like to Browse Available Articles?</h3>
      </div>
      <div class="card-body text-center">
        <h4>
          <a href="/">Browse Articles</a>
        </h4>
      </div>
    </div>
</div>

{{> footer }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="/assets/javascript/saved.js"></script>